Magic 271485
Revision Verdi3_J-2014.12-SP3

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 27 1871 865 185 370

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/yutongshen/IC_contest/ICContest104/sim/CLE.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 21896098.110470 22834223.110470
cursor 22015000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 17

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/yutongshen/IC_contest/ICContest104/sim/CLE.fsdb"
addSignal -h 15 /test/u_CLE/clk
addSignal -h 15 -holdScope reset
addSignal -h 15 -UNSIGNED -HEX -holdScope cnt[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rom_a[6:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope rom_q[7:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope rd_buffer[40:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope index_cnt[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope current_index[7:0]
addSignal -h 15 -holdScope add_index_cnt
addSignal -h 15 -holdScope index_buffer[0:32]
addGroup "G2"
addSignal -h 15 -UNSIGNED -HEX /test/u_CLE/sram_a[9:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope sram_d[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope sram_q[7:0]
addSignal -h 15 -holdScope sram_wen
addGroup "G3"
addGroup "G4"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/yutongshen/IC_contest/ICContest104/sim/CLE.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/test"
"/test/u_CLE"

SCOPE_LIST_BEGIN
"/test"
"/test/u_rom"
"/test/u_CLE"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


